<!DOCTYPE html>
<html>
<head>
    <title>Update Product</title>
</head>
<body>
    <h1>Update Product</h1>
    <form method="POST" action="{{ url_for('update_product', product_id=product.id) }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ product.name }}"><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" value="{{ product.price }}"><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>
